.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/*.key
storage/app/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
converter/native/jww2jif/jwwlib
converter/native/jww2jif/jww2jif
converter/native/jww2jif/jww2jif.exe
**/__pycache__
**/.pytest_cache
